# Node modules and caches
node_modules
**/node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Docker things
**/Dockerfile
.dockerignore
docker-compose.yaml

# Build outputs
.next
**/.next
out
**/out
dist
**/dist

# Logs
*.log
*.pid
*.seed
*.pid.lock

# Environment files
.env*
**/.env*

# OS junk
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# IDE/editor
.vscode
.idea
*.swp
